  <header>
    <h1><%= site.name %> - <%= pageTitle %></h1>
    <nav>
<%
  if (user.isLogged()) {
    site.navOptions.forEach(navOption => {
      let href = navOption['route'];
      let name = navOption['name'];
%>      <a href="<%= href %>"><%= name %></a>
<%
    })
  }
%>    </nav>
  </header>
